* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background-color: rgb(0, 0, 33);


}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(0, 0, 33);
    align-items: center;
    display: flex;
    padding: 70px 10% 0;

}

.rightsection img {
    width: 50%;
    /* height: 50%; */
    border-radius: 50%;
     box-shadow: 1px 1px 20px #0ef,
                 1px 1px 40px #0ef; 
    /* margin-top:30%; */
    background-size: cover;
    background-position: center;
    /* padding: 40px 10% 0; */
    margin-left: 30%;
    /* background: transparent; */
    
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 4r;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 500;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}

.home-content p {
    font-size: 20px;
}

.text {
    font-size: 32px;
    font-weight: 700;
    color: rgb(236, 47, 236);
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}
.btn-box{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;

}
.btn-box:hover{
    box-shadow: 0 0 5px cyan, 
    0 0 25px cyan , 0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}
.about{
    /* display: flex;
    justify-content: center;
    align-items: center; */
display: grid;
grid-template-columns: repeat(2,1fr);
align-items: center;
gap: 1.5rem;

} 

.about-img img{ 
     width: 50%; 
    /* height: 50%; */
     border-radius: 50%; 
    
      box-shadow: 1px 1px 20px #0ef,
    1px 1px 40px #0ef; ; 
      position: relative; 
     left: 30%;  
     /* padding-bottom: 10%; */
     max-width: 630px;
     height: auto;
     /* width: 100%; */

}
.about-text h2{
    /* width: 50%;
    position: relative;
    right: 10%; */
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 4rem;
    line-height: 1.4;
}
#project{
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 4rem;
    line-height: 1.4;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;

}
.sub-title span{
    color: #0ef;
}

.container{
    padding: 90px;

}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
  
}
.project-list div{
    /* color: #000; */
    /* background-image: url("calculator.png"); */
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                 1px 1px 40px #0053b8f7
                 
}
.project-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.project-list  div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.project-list div a{
    text-decoration: none;
    color:black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    
}
.read:hover{
    box-shadow: 0 0 5px cyan, 
    0 0 25px cyan , 0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}
.project-list div:hover{
    transform: translateY(-10px);
}
.btn-box1{
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    

}

.heading1{ 
    text-align: center; 
     text-decoration: underline; 
     text-underline-offset: 10px; 
    text-decoration-thickness: 5px; 
   margin-bottom: 40px;

}
.omg{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px;
}
.tech{ 
    font-size: 25px;
    font-weight: 600;
    display: grid;
    grid-auto-columns: 20%;
     position: relative;
    bottom: 80%;
    left: 20%;
padding-bottom: 20px;
}
.tech-img{
    height:120px;
    width: 120px;
    position: relative;
    
    bottom: 50%;
}
.tech-img:hover{
    height: 170px;
    width:170px ;
}
.edu{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
}
.card{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                 1px 1px 40px #0053b8f7
}
.edu :hover{
    transform: translateY(-10px);
}
.card a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.buttons{
    position: relative;
    top: 50px;
    /* gap:20%; */
display:inline-table ;
    /* text-decoration: none; */
} 

.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;

}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform:  scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
   color: #0ef;
   text-decoration: none;
   margin: 30px 15px 30px 0;
   transition: .5s ease;
   opacity: 0;
   animation: slideLeft 1s ease forwards;
   animation-delay: .2s * var(--i);
}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan, 
    0 0 25px cyan , 0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}










@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}